@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 46px; 
    line-height: 54px;
    color: #222;
}
h4 {
    font-size: 20px;
    line-height: 64px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0px 20px 0;
}
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    padding: 40px 0px;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;



}
body {
    width: 100%;
}


/*Header Start*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgb(0, 0, 0 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
 }

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
 }

 #navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1d1c;
    transition: 0.3s ease;
 }

 #navbar li a:hover,
 #navbar li a.active {
    color: #f39405;
 }

 #navbar li a.active::after,
 #navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #f39405;
    position: absolute;
    bottom: -4px;
    left: 20px;
 }
/*hompe*/

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 35px;
  padding: 15px 45px;
  position: absolute;
  bottom: 180px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*.active, .dot:hover {
  background-color: #717171;
}
*/
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#feature {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0 0.03);
    border:  1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgb(70, 62, 221 0.01);
    background-color: #f0ebeb;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #fff;
    background-color: #aa0606;

}
#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:nth-child(2) h6{
    background-color: rgb(96, 184, 184);
    color: #fff;
}

#feature .fe-box:nth-child(3) h6{
    background-color: rgb(53, 93, 168);
    color: #fff;
}

#feature .fe-box:nth-child(4) h6{
    background-color: rgb(177, 92, 12);
    color: #fff;
}

#feature .fe-box:nth-child(5) h6{
    background-color: rgb(138, 18, 185);
    color: #fff;
}

#feature .fe-box:nth-child(6) h6{
    background-color: rgb(173, 14, 107);
    color: #fff;
}

#products1 {
  text-align: center;
}
#products1 h2 {
  font-size: 30px;
}
#products1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;

}
#products1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#products1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#products1 .pro:hover {
  box-shadow: 20px 20px 30px rgb(0, 0, 0 0.06);
  transition: 1.5s ease;
  background-color: #eaebea;
}
#products1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#products1 .pro .des span {
  color: #1a1d1c;
  font-size: 15px;
}
#products1 .pro .des h5 {
  padding-top: 7px;
  color: #000;
  font-size: 17px;
}
#products1 .pro .des i {
  font-size: 12px;
  color: #ffc60a;
}
#products1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #140557;
}
#products1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #f0f8f5;
  font-weight: 500;
  color: #140557;
  border: 1px solid #140557;
  position: absolute;
  bottom: 30px;
  right: 10px;
}

/* animation effect */
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#products1 .pro{
  animation: zoomIn 2.0s forwards;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/Homebanner\ 2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #fff;
  font-size: 20px;
}

#banner h2 span {
  color: rgb(255, 0, 0);
}

#banner h2 {
  color: #000;
  font-size: 35px;
  padding: 1px 0px;
}

#banner button {
  margin-top: 10px;
}

#banner button:hover {
  background-color: #140557;
  color: #fff;
}





/*blog*/

#blog-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("images/Products/BlogPhoto.PNG");
  width: 100%;
  height: 16.5vh;
  background-size: cover;
  background-position: center;
}

#blog-banner h5{
  color: #fff;
  font-size: 15px;
}

#blog-banner span{
  color: #fff;
  font-size: 15px;
}

#container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

#container .container-blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("images/Products/TE1.PNG");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
/*
#container .container-blog p {
  font-size: 12px;
  font-weight: 800;
  color: #f0ebeb;
}
*/
#container .container-blog2{
  background-image: url("images/Products/TE2.PNG");
}

#container .post3{
  background-image: url("images/Products/Pub3.PNG");
}

#container .post4{
  background-image: url("images/Products/Pub2.PNG");
}

#container h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#container h5{
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}

#container span{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15px;
}

#container p{
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15px;
}

#container .container-blog:hover button{
  background: #088178;
  border: 1px solid #088178;
}



/*about*/



/*shop*/



/*contact*/



/*cart*/
